<div class="container ">
  <div class="row w-100">

    <div class="col-lg-6 mx-auto pt-3">
       <h2>User info</h2>
        <%= form_with model: @user, local: true do |f| %>
            <p>Name</p>
            <%= f.text_field :name, class: "form-control", placeholder: @user.name %>
            <p>Introduction</p>
            <%= f.text_field :intro, class: 'form-control' %>

            <%= f.submit "Update User", class: "btn btn-secondary mt-3" %>
        <% end %>
    </div>

  </div>
</div>