<div class="container">
  <div class="row">

    <div class="col-lg-6 mx-auto mt-5"> <!--mx-autoが中央寄せ、mt-5で上に空間空ける-->
                                        <!--.mx-auto 固定幅のブロックレベルのコンテンツを水平にセンタリングする-->

      <h1>welcome to <i class="fa-solid fa-book"></i> <strong>Bookers</strong> !!</h1>
      <p>In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,</p>
      <p>you can share and exshange your opinions, impressions , and emotions</p>
      <p>about various books!</p>

      <div class="col-lg-12 d-inline-block">
        <p class="ml-5"> <a class="btn btn-info btn-block" href="/users/sign_in">Log in</a> </p> <!--ml-5は左に空間空ける-->
        <p class="ml-5"> <a class="btn btn-success btn-block" href="/users/sign_up">Sign up</a> </p> <!--btnでサイズ大きくする？ btn-successで背景色？とりあえず一緒につかうっぽい-->
      </div>

    </div>
  </div>
</div>